modules = ["python-3.11", "web", "nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["cacert", "cargo", "freetype", "gmp", "lcms2", "libffi", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pkg-config", "postgresql", "rustc", "tcl", "tk", "xcodebuild", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Python Hello World"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "hello_world_test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Whoogle Search"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Python Hello World"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python hello_world.py"

[[workflows.workflow]]
name = "hello_world_test"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python hello_world.py"

[[workflows.workflow]]
name = "Whoogle Search"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
